// List Groups

@mixin list-group-item-variant($state, $background, $color, $hover-bg: try-darken($background, 5%)) {
  .list-group-item-#{$state} {
    color: $color;
    background-color: $background;

    &.list-group-item-action {
      @include hover-focus {
        color: $color;
        background-color: $hover-bg;
      }

      &.active {
        color: $white;
        background-color: $color;
        border-color: $color;
      }
    }
  }
}
